x-map {
    display: block;
    width: 100%;
    height: 100%;
    --overlay-bg-color: #fff;
    --icon-color: #aaa;

    &.ready {
        .overlay {
            pointer-events: none;
            z-index: -1;
        }
    }

    .map-container {
        width: 100%;
        height: 100%;
    
        .maplibregl-popup-content {
            width: 280px;

            .info {
                font-size: 12px;
                line-height: 1.45em;

                & > * {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                }
            
                .title {
                    font-size: 1.075em;
                    font-weight: bold;
                    margin-bottom: 0.5em;
                    color: var(--title-color, inherit);
                }

                .address {
                    margin-bottom: 1em;
                }

                svg {
                    color: var(--icon-color, inherit);
                }

                a {
                    text-decoration: none;
                }
            }

            button {
                top: 3px;
                right: 3px;
            }
        }
    }

    .overlay {
        background-color: var(--overlay-bg-color, #fff);
        display: grid;
        place-content: center;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        svg {
            color: var(--icon-color);
        }
    }
}

[data-theme="dark"] {
    x-map {
        --overlay-bg-color: #121212;
        --icon-color: #888;
    }    
}
